.body{
  margin-top: 700px;

}

.app {
  background-color: #282c34;
  width:50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 50px;
  background: lightgray;
  color: black;
  align-items: center;
  margin:  auto;
  margin-top: 100px;
  max-width: 400px;
}

label {
  font-weight: blue;
}

input {
  margin-bottom: 40px ;
  padding: 10px;
  width:70%
}

button {
  background-color: lightblue;
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 100px;
  font-weight: bold;
}
#errMessage{
  color: red;
  margin-bottom: 10px;
}


css

form {
  display: flex;
  flex-direction: column;
  
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* width: 100%; */
  margin-bottom: 1rem;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
